main {
  width: calc(82vw - 55px);
  float: left;
  height: 100vh;
  background: var(--server-background);
  color: var(--chat-color);
  header {
    height: 75px;
    background: var(--server-header-bg);
    position: relative;
    h3 {
      margin: 0px;
      padding: 1vh 2vw;
      color: var(--server-header-color);
      font-family: helvetica;
      padding-bottom: 0px;
      svg {
        width: 25px;
        color: var(--server-header-icon);
        vertical-align: bottom;
        margin-right: 7px;
      }
      i {
        font-family: monospace;
        white-space: pre;
        font-size: 10px;
        display: none;
      }
    }
    span {
      margin: 0px;
      padding: 1vh 2vw;
      color: var(--server-header-subtitle);
      font-family: monospace;
      white-space: pre;
      margin-left: 2vw;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  section {
    height: calc(100vh - 77px);
    font-family: helvetica;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px;
    &::-webkit-scrollbar-thumb {
      background: var(--scrollbar-thumb-bg);
    }
    &::-webkit-scrollbar-thumb:hover {
      background: var(--scrollbar-thumb-hover);
    }
    &::-webkit-scrollbar-track {
      background: var(--scrollbar-track-bg);
      border-left: 1px solid var(--scrollbar-track-border-left);
      border-right: 1px solid var(--scrollbar-track-border-right);
    }
    &::-webkit-scrollbar {
      width: 10px;
    }
    nav {
      background: var(--whois-background);
      width: calc(33% - 10px);
      display: inline-block;
      margin: 5px;
      position: relative;
      padding: 15px 0px;
      border: 1px solid var(--whois-border);
      vertical-align: top;
      box-sizing: border-box;
      svg {
        width: 18px;
        position: absolute;
        margin: 6px;
        color: var(--menu-searcher-icon-color);
        margin-left: 10px;
        left: 5%;
        &.refresh {
          right: 5%;
          left: initial;
          cursor: pointer;
        }
      }
      input {
        height: 30px;
        width: 90%;
        font-size: 18px;
        border: none;
        text-indent: 35px;
        color: var(--menu-searcher-text-color);
        outline: none;
        background: transparent;
        border-radius: 50px;
        box-sizing: border-box;
        margin-left: 5%;
      }
    }
    article {
      cursor: pointer;
      background: var(--whois-background);
      width: calc(33% - 10px);
      display: inline-block;
      margin: 5px;
      position: relative;
      padding: 10px 15px;
      border: 1px solid var(--whois-border);
      box-sizing: border-box;
      &:hover {
        background: var(--whois-background--hover);
      }
      h3 {
        margin: 0px;
        display: inline-block;
        margin-right: 10px;
        color: var(--menu-list-header-color);
        svg {
          width: 20px;
          vertical-align: bottom;
        }
      }
      span {
        svg {
          width: 15px;
        }
        margin-right: 5px;
        border: 1px solid var(--whois-border);
        border-radius: 3px;
        padding: 0px 5px;
      }
      p {
        color: var(--menu-list-item-color);
        margin: 0px;
        height: 16px;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

@media(max-width: 1024px) {
  main {
    width: calc(100vw - 55px);
  }
}
