ul.context {
  z-index: 2;
  display: block;
  margin: 0px;
  position: fixed;
  list-style: none;
  right: 0px;
  background: var(--chat-header-menu-bg);
  padding: 0px;
  border-radius: 3px;
  border: 1px solid var(--chat-header-menu-border);
  color: var(--chat-header-menu-color);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  width: 170px;
  li {
    font-family: Helvetica;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    svg {
      width: 15px;
      vertical-align: middle;
    }
    &:hover {
      background: var(--chat-header-menu-item-bg);
    }
  }

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: var(--chat-header-menu-bg);
    transform: rotate(45deg);
    position: absolute;
    top: -9px;
    right: calc(2vw - 5px);
    border-top: 1px solid var(--chat-header-menu-border);
    border-left: 1px solid var(--chat-header-menu-border);
  }
  &::after {
    content: "";
    display: block;
    background: transparent;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
}
