<app-nav></app-nav>
<main>
  <app-menu></app-menu>
  <router-outlet></router-outlet>
  <div class="popup" *ngIf="requestNick">
    El usuario <b>{{requestNick}}</b> desea hablar contigo
    <button (click)="accept(requestNick)">Aceptar</button>
    <button class="cancel" (click)="requestNick = undefined">Ignorar</button>
  </div>
  <div class="popup" *ngIf="requestForPlay">
    Se inició una lista de videos en {{rockolaData.channel}}
    <button (click)="joinRockola(requestNick)">Unirme</button>
    <button class="cancel" (click)="requestForPlay = false">Ignorar</button>
  </div>
  <div class="popup" *ngIf="kickedInfo">
    Fuiste hechado del canal {{kickedInfo.channel}}
    <button class="cancel" (click)="kickedInfo = undefined">Aceptar</button>
  </div>
</main>

<aside [style.display]="playing ? 'block' : 'none'">
  <div class="player" id="ytPlayer"></div>
  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" class="svg-inline--fa fa-times fa-w-11"><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z" class=""></path></svg>
  <ul>
    <li class="current"> Current </li>
    <li> list of songs </li>
    <li> list of songs </li>
    <li> list of songs </li>
    <li> list of songs </li>
    <li> list of songs </li>
    <li> list of songs </li>
    <li> list of songs </li>
    <li> list of songs </li>
    <li> list of songs </li>
    <li> list of songs </li>
    <li> list of songs </li>
    <li> list of songs </li>
  </ul>
</aside>

<footer>
  HiraClient v{{version}} - <b><i>{{codename}}</i></b> | <a href="https://www.hirana.net" target="_blank">Hirana.net</a>
</footer>
