aside {
  width: 100%;
  background: var(--infopanel-background);
  height: 100%;
  border-left: 2px solid var(--infopanel-border);
  font-family: Helvetica;
  main {
    height: calc(100vh - 100px);
    overflow-y: auto;
    &::-webkit-scrollbar-thumb {
      background: var(--scrollbar-thumb-bg);
    }
    &::-webkit-scrollbar-thumb:hover {
      background: var(--scrollbar-thumb-hover);
    }
    &::-webkit-scrollbar-track {
      background: var(--scrollbar-track-bg);
      border-left: 1px solid var(--scrollbar-track-border-left);
      border-right: 1px solid var(--scrollbar-track-border-right);
    }
    &::-webkit-scrollbar {
      width: 10px;
    }
  }
  header {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid var(--infopanel-header-border);
    h3 {
      margin: 0px;
      padding: 1vh 2vw;
      color: var(--infopanel-header-color);
      font-family: helvetica;
      padding-bottom: 0px;
      svg {
        width: 25px;
        color: var(--infopanel-header-icon);
        vertical-align: bottom;
        margin-right: 7px;
      }
    }
    span {
      margin: 0px;
      padding: 1vh 2vw;
      color: var(--infopanel-header-subtitle);
      font-family: monospace;
      margin-left: 2vw;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    svg.options {
      width: 10px;
      color: var(--infopanel-header-option);
      position: absolute;
      top: 2vh;
      right: 2vw;
      cursor: pointer;
    }
  }
}

@media(max-width: 1024px) {
  aside {
    header {
      height: 38px;
      h3 {
        font-size: 15px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      span {
        display: none;
      }
    }
  }
}

