main {
  width: calc(82vw - 55px);
  float: left;
  height: 100vh;
  background: url('../../../assets/wp/login.jpg') var(--user-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.embedded {
    background: var(--user-background);
    #embeddedPopup {
      display: block;
    }
    #fullPopup {
      display: none;
    }
  }
  #embeddedPopup {
    display: none;
  }
  section {
    background: var(--user-form-bg);
    border-radius: 3px;
    font-family: helvetica;
    box-shadow: 0px 0px 5px;
    max-height: 95vh;
    overflow-y: auto;
    &::-webkit-scrollbar-thumb {
      background: var(--scrollbar-thumb-bg);
    }
    &::-webkit-scrollbar-thumb:hover {
      background: var(--scrollbar-thumb-hover);
    }
    &::-webkit-scrollbar-track {
      background: var(--scrollbar-track-bg);
      border-left: 1px solid var(--scrollbar-track-border-left);
      border-right: 1px solid var(--scrollbar-track-border-right);
    }
    &::-webkit-scrollbar {
      width: 10px;
    }
    header {
      text-align: center;
      padding: 11px;
      border-bottom: 1px solid var(--user-form-header-border);
      color: var(--user-form-header-color);
      font-weight: bolder;
    }
    p {
      text-align: center;
      color: var(--user-error-color);
      margin: 3px;
      margin-top: 10px;
      background: var(--user-error-bg);
      border-radius: 3px;
      padding: 5px;
      border: 1px solid var(--user-error-border);
    }
    div {
      color: var(--user-label-color);
      padding: 5px;
      position: relative;
      width: fit-content;
      label {
        display: block;
        i {
          font-size: 10px;
          color: var(--user-label-optional);
        }
      }
      input[type=text], input[type=password] {
        padding: 6px;
        border-radius: 3px;
        border: 1px solid var(--user-input-border);
        width: 30vw;
        margin-top: 2px;
        background: var(--user-input-bg);
        color: var(--user-input-color);
      }
      span {
        position: absolute;
        top: 0px;
        font-size: 13px;
        right: 6px;
        line-height: 25px;
      }
      input[type=checkbox] {
        width: 20px;
        height: 20px;
        position: absolute;
        bottom: 6px;
        right: 6px;
      }
      button {
        background: transparent;
        border: none;
        cursor: pointer;
        height: 20px;
        margin-left: -27px;
        vertical-align: middle;
        svg {
          width: 15px;
          height: 15px;
          color: var(--user-buttons-svg);
        }
      }
      select {
        width: 190px;
        height: 25px;
        background: var(--user-select-bg);
        color: var(--user-select-color);
      }
      &#auth {
        margin-top: 5px;
      }
      ul {
        padding: 5px;
        list-style: none;
        margin: 0px;
        li {
          background: var(--user-channels-bg);
          padding: 3px 5px;
          margin: 5px 0px;
          border-radius: 2px;
          svg {
            width: 13px;
            vertical-align: middle;
            float: right;
            margin-right: 3px;
            color: var(--user-channels-button-svg);
            cursor: pointer;
          }
        }
      }
    }
  }
  footer {
    button {
      padding: 5px;
      font-family: Helvetcia;
      border-radius: 3px;
      border: none;
      margin: 6px;
      float: right;
      margin-bottom: 13px;
      min-width: 5vw;
      background: var(--user-footer-button);
      color: var(--user-footer-color);
      cursor: pointer;
    }
  }
}

@media(max-width: 1200px) {
  main {
    section {
      input[type=text], input[type=password] {
        width: 60vw!important;
      }
    }
  }
}


@media(max-width: 1024px) {
  main {
    width: calc(100vw - 55px);;
    background: var(--user-background);
    #embeddedPopup {
      display: block;
    }
    #fullPopup {
      display: none;
    }
  }
}
